<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Mystery Murder Game</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
.row-margin{
    margin-top:10px;
    margin-bottom:10px;
}
.container-margin{
    margin-top:10px;
    margin-bottom:60px;
}
.button-style{
    width:100%;
}
.refresh-style{
    float:right;
    margin-bottom:10px;
}
.title-margin {
    margin-top:90px;
    margin-bottom:40px;
}
</style>
</head>
<body>
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" >
			<li class="active">
			    <a href="#gameInfo" data-toggle="tab">游戏信息</a>
			</li>
			<li>
			    <a href="#scriptInfo" data-toggle="tab">剧本</a>
			</li>
			<li>
			    <a href="#clue" data-toggle="tab">线索</a>
	        </li>
			<li>
			    <a href="#vote" data-toggle="tab">投票</a>
			</li>
            <li>
                <a href="#truth" data-toggle="tab">真相</a>
            </li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane fade in active" id="gameInfo">
			    <div class="container container-margin">
                    <h1><small>游戏房间ID：<span id="gameIdSpan"></span></small></h1>
                    <h1><small>当前游戏状态：<span id="gameStatusSpan"></span></small></h1>
                    <h1><small>组织者：<span id="hostNameSpan"></span></small></h1>
                    <div class="page-header">
                        <h1><small>扮演者列表</small></h1>
                    </div>
                    <div id="gameRolesDiv"></div>
                </div>
			</div>
			<div class="tab-pane fade " id="scriptInfo">
			    <div class="container container-margin">
                    <h1 class="text-center title-margin"><span id="roleNameSpan"></span></h1>
                    <div class="page-header">
                        <h1><small>角色简介</small></h1>
                    </div>
                    <div id="roleIntroDiv"></div>
                    <div class="page-header">
                        <h1><small>剧本内容</small></h1>
                    </div>
                    <div id="scriptContentDiv"></div>
                    <div class="page-header">
                        <h1><small>游戏目标</small></h1>
                    </div>
                    <div id="goalDiv"></div>
                </div>
			</div>
			<div class="tab-pane fade " id="clue">
				<div class="container container-margin">
                    <!-- <div class="container">
                        <div class="row">
                            <button class="btn btn-default col-md-8 col-xs-8">搜寻线索</button>
                            <button id="clueRefresh"
                                class="btn btn-default col-md-2 col-xs-2 col-md-offset-2 col-xs-offset-2">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div> -->
                    <div class="page-header">
                        <h1><small>已获取的线索</small></h1>
                    </div>
					<div class="panel-group" id="cluePanelGroup"></div>
				</div>
			</div>
		    <div class="tab-pane fade " id="vote">
                <div class="container container-margin">
                    <div class="page-header">
                        <h1><small>投票阶段</small></h1>
                    </div>
                    <div id="voteResultDiv"></div>
                    <div class="container">
                        <div class="row">
                            <button id="beginVoteButton" class="btn btn-primary col-md-5 col-xs-5">进行投票</button>
                            <button id="getVotesButton" class="btn btn-primary col-md-5 col-xs-5 
                            col-md-offset-2 col-xs-offset-2">获取结果</button>
                        </div>
                    </div>
                </div>
		    </div>
			<div class="tab-pane fade " id="truth">
				<div class="container container-margin">
					<div class="page-header">
						<h1>
							<small>案件真相</small>
						</h1>
					</div>
					<div id="theTruthDiv">真相尚未揭晓。。。。。。</div>
					
                    <button id="closeButton" class="btn btn-danger button-style row-margin" 
                        type="button">离开房间</button>
				</div>
			</div>
		</div>

	</div>
	
	<div class="modal fade" id="voteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">投票</h4>
                </div>
                <div class="modal-body" id="modalBodyDiv">
                    <div>你要将这一票给谁？</div>
                    <form id="voteForm">
                        <input id="voteRoundInput" type="text" name="voteRound" hidden="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="confirmButton">确定</button>
                </div>
            </div>
        </div>
    </div>
    
	<script>
	    getGameInfo();
	    getScript();
	    getPositions();
	    
	    function getScript(){
            $.ajax({
                url:'index/getScript',
                type:'POST',
                cache : false,
                dataType : 'json',
                error:function(){
                    alert("getScript network wrong!");
                },
                success:function(result){
                    $("#roleNameSpan").html(result.roleName);
                    $("#roleIntroDiv").html(result.roleIntro);
                    $("#scriptContentDiv").html(result.content);
                    $("#goalDiv").html(result.goal);
                }
            });
        }
	
	    function getGameInfo(){
	    	getGame();
            getRoles();
	    }
	    
	    function getPositions(){
	    	$.ajax({
	            url:'index/getPositions',
	            type:'POST',
	            cache : false,
	            dataType : 'json',
	            error:function(){
	                alert("getPositions network wrong!");
	            },
	            success:function(result){
	                for(var i=0; i<result.length; i++){
	                	var collapseId = 'clueCollapse'+result[i].positionId;
	                	var collapseContentId = 'clueContent'+result[i].positionId;
	                    $("#cluePanelGroup").append('<div class="panel panel-default">'+
	                            '<div class="panel-heading">'+
	                            '<h4 class="panel-title">'+
	                            '<a data-toggle="collapse" data-parent="#cluePanelGroup" href="#'+collapseId+
	                            '">'+result[i].content+'</a></div>'+
	                            '<div id="'+collapseId+'" class="panel-collapse collapse">'+
	                            '<div class="panel-body" id="'+collapseContentId+'">'+
	                            '</div></div></div>');
	                }
	                $('[data-toggle]').bind('click',function(){
	                	getClues();
	                })
	            }
	        });
	    }
	    
	    function getClues(){
            $.ajax({
                url:'index/getClues',
                type:'POST',
                cache : false,
                dataType : 'json',
                error:function(){
                    alert("getClues network wrong!");
                },
                success:function(result){
                    $("#cluePanelGroup .panel-body").empty();
                    for(var i=0; i<result.length; i++){
                        var collapseContentId = 'clueContent'+result[i].positionId;
                        $("#"+collapseContentId).append('<p>*'+result[i].content+'</p>');
                    }
                }
            });
        }
	    
	    function getGame(){
	    	$.ajax({
                url:'index/getGame',
                type:'POST',
                cache : false,
                dataType : 'json',
                error:function(){
                    alert("getGame network wrong!");
                },
                success:function(result){
                    $("#gameIdSpan").html(result.gameId);
                    var status = result.gameStatus;
                    var statusName = "关闭";
                    if(status == 1) statusName = "等待";
                    if(status == 2) statusName = "角色选择阶段";
                    if(status == 3) statusName = "初始阶段";
                    if(status == 4) statusName = "搜证阶段";
                    if(status == 5) statusName = "投票阶段";
                    if(status == 6) {
                    	statusName = "结束";
                    	getPlay();
                    }
                    $("#gameStatusSpan").html(statusName);
                    getName($("#hostNameSpan"), result.hostUserId);
                }
            });
	    }
	    
	    function getPlay(){
	    	$.ajax({
                url:'index/getPlay',
                type:'POST',
                cache : false,
                dataType : 'json',
                error:function(){
                    alert("getPlay network wrong!");
                },
                success:function(result){
                    $("#theTruthDiv").html(result.theTruth);
                }
            });
	    }
	    
	    function getRoles(){
	    	$.ajax({
                url:'index/getRoles',
                type:'POST',
                cache : false,
                data : $('#clueForm').serialize(),
                dataType : 'json',
                error:function(){
                    alert("getRoles network wrong!");
                },
                success:function(result){
                	$("#gameRolesDiv").empty();
                	for(var i=0; i<result.length; i++){
                        $("#gameRolesDiv").append("<h3><span id='nameSpan"+i+
                        		"'></span>&nbsp;&nbsp;饰&nbsp;&nbsp;<span id='roleNameSpan"+i+
                                "'></span></h3>");
                		getRoleName($("#roleNameSpan"+i),result[i].scriptId);
                		if(result.userId != 0){
                			getName($("#nameSpan"+i), result[i].userId);
                		}
                		
                	}
                }
            });
	    }
	    
	    function getUsers(){
            $.ajax({
                url:'host/getGameRoles',
                type:'POST',
                cache : false,
                dataType : 'json',
                error:function(){
                    alert("getGameRoles network wrong!");
                },
                success:function(result){
                    $('[class="radio"]').remove();
                    for(var i=0; i<result.length; i++){
                        if(result[i].userId != 0){
                        var roleSpanId = "roleSpan"+result[i].scriptId;
                        var userSpanId = "userSpan"+result[i].userId;
                        $("#voteForm").append('<div class="radio">'+
                                '<label><input type="radio" name="voteUserId"'+
                                ' value="'+result[i].userId+'"><span id="'+roleSpanId+
                                '"></span>(<span id="'+userSpanId+'"></span>)</label><div>');
                        getRoleName($('#'+roleSpanId), result[i].scriptId);
                        getName($('#'+userSpanId), result[i].userId);
                        }
                    }
                }
            });
        }
	    
	    function getName(obj, userId){
	    	var jsonData = {"userId":userId};
	    	$.ajax({
                url:'index/getName',
                type:'POST',
                cache : false,
                data : jsonData,
                error:function(){
                    alert("getName network wrong!");
                },
                success:function(result){
                    obj.html(result);
                }
            });
	    }
	    
	    function getRoleName(obj, scriptId){
            var jsonData = {"scriptId":scriptId};
            $.ajax({
                url:'index/getRoleName',
                type:'POST',
                cache : false,
                data : jsonData,
                error:function(){
                    alert("getRoleName network wrong!");
                },
                success:function(result){
                    obj.html(result);
                }
            });
        }
        
        function getRoleNameByUserId(obj, userId){
            var jsonData = {"userId":userId};
            $.ajax({
                url:'index/getRoleNameByUserId',
                type:'POST',
                cache : false,
                data : jsonData,
                error:function(){
                    alert("getRoleNameByUserId network wrong!");
                },
                success:function(result){
                    obj.html(result);
                }
            });
        }
	    
	    function doVote(){
            $.ajax({
                url:'index/doVote',
                type:'POST',
                cache : false,
                data : $("#voteForm").serialize(),
                error:function(){
                    alert("doVote network wrong!");
                },
                success:function(result){
                    $("#voteModal").modal("hide");
                    alert(result.message);
                }
            });
        }
	    
	    function getVotes(){
	    	$.ajax({
                url:'index/getVotes',
                type:'POST',
                cache : false,
                dataType : 'json',
                error:function(){
                    alert("getVotes network wrong!");
                },
                success:function(result){
                	for(var i=0; i<result.length; i++){
                        var voteListDivId = 'voteListDiv'+result[i].voteRound;
                        var userRoleNameSpanId = "userRoleNameSpan"+result[i].userId;
                        var userNameSpanId = "userNameSpan"+result[i].userId;
                        var voteUserRoleNameSpanId = "voteUserRoleNameSpan"+result[i].voteUserId;
                        var voteUserNameSpanId = "voteUserNameSpan"+result[i].voteUserId;
                        $("#"+voteListDivId).append(
                                '<li class="list-group-item">'+
                                '<span data-id="'+userRoleNameSpanId+
                                '"></span>(<span data-id="'+userNameSpanId+'"></span>)'+
                                '--->'+
                                '<span data-id="'+voteUserRoleNameSpanId+
                                '"></span>(<span data-id="'+voteUserNameSpanId+'"></span>)'+
                                '</li>');
                        getRoleNameByUserId($('[data-id="'+userRoleNameSpanId+'"]'), result[i].userId);
                        getName($('[data-id="'+userNameSpanId+'"]'), result[i].userId);
                        getRoleNameByUserId($('[data-id="'+voteUserRoleNameSpanId+'"]'), result[i].voteUserId);
                        getName($('[data-id="'+voteUserNameSpanId+'"]'), result[i].voteUserId);
                    }
                }
            });
	    }
	    
		$(function() {
			$("a[href='#gameInfo']").click(function() {
                getGameInfo();
            });
			$("a[href='#truth']").click(function() {
				getGame();
            });
            $("a[href='#clue']").click(function() {
                getClues();
            });
            
            $("#beginVoteButton").click(function(){
            	$.ajax({
                    url:'index/getGame',
                    type:'POST',
                    cache : false,
                    dataType : 'json',
                    error:function(){
                        alert("getGame network wrong!");
                    },
                    success:function(result){
                        $("#gameIdSpan").html(result.gameId);
                        if(result.gameStatus == 5) {
                        	$("#voteRoundInput").val(result.voteRound);
                            getUsers();
                            $("#voteModal").modal("show");
                        }
                        else{
                        	alert("现在不是投票阶段，不能进行投票！");
                        }
                    }
                });
            });
            
            $("#getVotesButton").click(function(){
            	$.ajax({
                    url:'index/getGame',
                    type:'POST',
                    cache : false,
                    dataType : 'json',
                    error:function(){
                        alert("getGame network wrong!");
                    },
                    success:function(result){
                        if(result.gameStatus == 6) {
                        	$("#voteResultDiv").empty();
                            for(var i=1; i<=result.voteRound; i++){
                                var voteListDivId = 'voteListDiv'+i;
                                var roundNum = i+1;
                                $("#voteResultDiv").append('<div class="page-header">'+
                                        '<h1><small>第'+i+'轮投票结果</small></h1></div>'+
                                        '<ul id="'+voteListDivId+'" class="list-group"></ul>');
                            }
                            getVotes();
                        }
                        else{
                            alert("投票结果尚未揭晓！");
                        }
                    }
                });
            })
            
            $("#confirmButton").click(function(){
            	doVote();
            })
			
			$("#closeButton").click(function(){
                window.location.href = "lobby.html";
			});
		})
	</script>
</body>
</html>