<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mysterygame.dao.GameVoteMapper">
	<resultMap id="BaseResultMap" type="cn.mysterygame.entity.GameVote">
		<id property="gameVoteId" column="game_vote_id" />
        <result property="gameId" column="game_id" />
        <result property="userId" column="user_id" />
		<result property="voteUserId" column="vote_user_id" />
        <result property="voteRound" column="vote_round" />
	</resultMap>
	<sql id="Base_Column_List">
		game_vote_id, game_id, user_id, vote_user_id, vote_round
	</sql>
	<insert id="insertSelective" parameterType="cn.mysterygame.entity.GameVote" >
    insert into game_vote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="voteRound != null" >
        vote_round,
      </if>
      <if test="voteUserId != null" >
        vote_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        #{gameId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="voteRound != null" >
        #{voteRound},
      </if>
      <if test="voteUserId != null" >
        #{voteUserId},
      </if>
    </trim>
  </insert>
  <select id="selectByGameId" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List" />
    from game_vote
    where game_id = #{gameId}
    order by vote_user_id
  </select>
  <select id="findUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from game_vote
    where game_id = #{arg0}
    and user_id = #{arg1}
    and vote_round = #{arg2}
  </select>
</mapper>