<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>学习历程记录</title>
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
.mid {
	text-align: center
}
.little-left{
    margin-left:15px;
    margin-top:7px;
}
</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-3">
				<img src="/images/icon.jpg"
					class="img-circle img-responsive" />
			</div>
			<div class="col-md-3 ">
				<div class="row">
					<h1 class="little-left">
						<strong>普通</strong>
					</h1>
				</div>
				<div class="row">
					<h4 class="little-left">email:putong1620@163.com</h4>
				</div>
				<div class="row">
					<h4 class="little-left">GitHub:<a href="https://github.com/PuTongGithub">github.com/PuTongGithub</a></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<label>EHR企业人事管理系统</label>
				<p>成都东软实训项目，该项目使用了JSP、JDBC、MySQL、tomcat等技术，完成了企业结构管理、人事管理、报表管理等基本功能。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<label>Movie Attic</label>
				<p>该项目是个人开发的小应用，使用C#与XAML编写的UWP应用程序，可以使用户搜索、浏览、收藏他所喜欢电影的相关信息。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<label>豆瓣电影爬虫</label>
				<p>该项目是个人开发的小应用，使用python编写运行于Ubuntu系统，完成了50000+条豆瓣电影信息的爬取，并将获取信息存放于Mysql。</p>
			</div>
		</div>
		<div class="row">
			<p class="mid" style="color: #939393; margin:20px 0px 10px 0px;">陕ICP备17021157号-1</p>
			<div class="mid">
				<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61011602000213"
					style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px;">
					<img src="/images/beian.png" style="float: left;" />
					<p style="float: left; height: 20px; line-height: 20px; margin: 0px 0px 0px 5px; color: #939393;">
					   陕公网安备61011602000213号</p>
				</a>
			</div>

		</div>
	</div>
</body>

</html>