<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Mystery Murder Game</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
.title-margin {
    margin-top:90px;
    margin-bottom:40px;
}
</style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center title-margin"><em>谋杀之谜</em>&nbsp;&nbsp;&nbsp;&nbsp;<small>剧本发放</small></h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <div id="formErrorAlert" class="alert alert-warning" style="display:none;"></div>
                <form id="login-form">
                    <div class="form-group">
                        <input id="usernameInput" name="username" type="text" class="form-control" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <input id="passwordInput" name="password" type="password" class="form-control" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="row">
                                <button id="signUpButton" type="button" class="btn btn-primary col-md-5 col-xs-5">新用户 <small>注册</small></button>
                                <button id="signInButton" type="button" class="btn btn-success col-md-5 col-md-offset-2 col-xs-5 col-xs-offset-2">老用户 <small>登陆</small></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    function formVerify(){
        if($('#usernameInput').val()=='' || $('#passwordInput').val()==''){
            $('#formErrorAlert').css("display", "block");
            $('#formErrorAlert').html("用户名或密码不能为空！");
            return false;
        }
        else{
        	return true;
        }
    }
    
    function networkError(){
        $('#formErrorAlert').css("display", "block");
        $('#formErrorAlert').html("用户信息提交异常！");
    }
    
    $(function(){
    	$('#signInButton').click(function(){
    		if(!formVerify()){
    			return false;
    		}
    		$.ajax({
                url:'login/signIn',
                type:'POST',
                cache : false,
                data : $('#login-form').serialize(),
                dataType : 'json',
                error:function(){
                	networkError();
                },
                success:function(result){
                	if(result.success){
                        window.location.href = result.url;
                	}
                	else{
                        $('#formErrorAlert').css("display", "block");
                        $('#formErrorAlert').html(result.message);
                	}
                }
            });
        });
    	
    	$('#signUpButton').click(function(){
            if(!formVerify()){
                return false;
            }
            $.ajax({
                url:'login/signUp',
                type:'POST',
                cache : false,
                data : $('#login-form').serialize(),
                dataType : 'json',
                error:function(){
                    networkError();
                },
                success:function(result){
                    if(result.success){
                        window.location.href = result.url;
                    }
                    else{
                        $('#formErrorAlert').css("display", "block");
                        $('#formErrorAlert').html(result.message);
                    }
                }
            });
        });
    })
    </script>
</body>
</html>