<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mysterygame.dao.GameClueMapper">
	<resultMap id="BaseResultMap" type="cn.mysterygame.entity.GameClue">
		<id property="gameClueId" column="game_clue_id" />
        <result property="gameId" column="game_id" />
		<result property="clueId" column="clue_id" />
        <result property="positionId" column="position_id" />
        <result property="userId" column="user_id" />
	</resultMap>
	<sql id="Base_Column_List">
		game_clue_id, game_id, clue_id, position_id, user_id
	</sql>
	<insert id="insertSelective" parameterType="cn.mysterygame.entity.GameClue" >
    insert into game_clue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="clueId != null" >
        clue_id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        #{gameId},
      </if>
      <if test="clueId != null" >
        #{clueId},
      </if>
      <if test="positionId != null" >
        #{positionId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
    </trim>
  </insert>
  <select id="selectByGameUser" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from game_clue
    where game_id = #{0}
    and user_id = #{1}
  </select>
</mapper>